.wrapper {
  width: 100%;
  height: 100vh;
}

.link {
  text-decoration: none;
  color: black;
}

header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  background-color: rgb(192, 191, 190);
  z-index: 3;
  top: 0;
  box-shadow: 0px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  width: 100%;
}

button {
  cursor: pointer;
}

footer {
  position: relative;
  bottom: 0;
  height: 30px;
  width: 100%;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
